* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-image: url(./images/fine\ weather.jfif);
  height: 100vh;
  /* background-repeat: 1px; */
  display: grid;
  background-repeat: repeat;
  place-items: center;
  position: relative;
}
/* .weather-content {
} */
.weather-content-box {
  display: grid;
  place-items: center;

  /* padding: 50px 0 0 550px; */
}
.weather-content-box h1 {
  text-shadow: 2px 2px 5px #000;
  font-family: cursive;
  font-size: 30px;
  color: aliceblue;
}
.search-city {
  margin-top: 20px;
  width: 300px;
  height: 49px;
  text-align: center;
  border-radius: 49px;
  border-style: unset;
  outline: none;
  box-shadow: 1px 4px 6px black;
  font-size: 20px;
}
.search-city:focus {
  box-shadow: 1px 4px 6px rgb(255, 255, 255);
}
.getweather {
  height: 40px;
  width: 150px;
  border-radius: 20px;
  outline: none;
  /* position: absolute;
  bottom: 50%; */
}

.result {
  height: 200px;
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.404);
}
.result h1 {
  text-shadow: 2px 1px 3px black;
  padding: 15px;
  margin-bottom: 30px;
  text-align: center;
}
.result p {
  font-weight: bold;
  padding-top: 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;
}
.loader1 {
  border: 16px solid #f3f3f3;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-top: 16px solid rgb(105, 179, 214);
  border-bottom: 16px solid rgb(105, 179, 214);
  -webkit-animation: 2s linear infinite;
  animation: spin 2s linear infinite;
}
.pop {
  display: grid;
  place-items: center;
  height: 200px;
  width: 300px;
}

.pop1 {
  -webkit-animation: 0.713s linear infinite;
  animation: poping 0.713s infinite;
}
/* .pop2 {
  height: 100px;
  width: 100px;
  background-color: rgb(170, 170, 170);
}
.pop3 {
  height: 150px;
  width: 150px;
  background-color: rgb(163, 36, 36);
} */

.weather-input-form {
  display: grid;
  place-items: center;
}
/* 
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
} */

@-webkit-keyframes poping {
  0% {
    height: 2px;
    width: 2px;
    border: 1px solid #fff;
    border-radius: 50%;
  }

  /* 10%{
     
    height: 4px;
    width: 4px;
    border: 3px solid #fff;
    border-radius: 50%;
  } */

  50% {
    height: 60px;
    width: 60px;
    border: 13px solid #fff;
    border-radius: 50%;
  }

  100% {
    height: 90px;
    width: 90px;
    border: 30px solid #fff;
    border-radius: 50%;
  }
  /* 50% {
    height: 100px;
    width: 100px;
    border: 20px solid #fff;
    border-radius: 50%;
  }
  0% {
    height: 50px;
    width: 50px;
    border: 20px solid #fff;
    border-radius: 50%; 
  }*/
}

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

@media screen and (max-width: 540px) {
  .weather-content-box h1 {
    font-size: 23px;
  }

  .search-city {
    width: 270px;
    height: 40px;
    font-size: 17px;
  }

  /* .loader1 {
    border: 10px solid #f3f3f3;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border-top: 10px solid rgb(105, 179, 214);
    border-bottom: 10px solid rgb(105, 179, 214);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  } */
  .pop1 {
    -webkit-animation: 0.713s linear infinite;
    animation: poping 0.713s infinite;
  }

  body {
    background-size: 500px;
    height: 100vh;
  }

  @-webkit-keyframes poping {
    0% {
      height: 2px;
      width: 2px;
      border: 1px solid #fff;
      border-radius: 50%;
    }

    /* 10%{
     
    height: 4px;
    width: 4px;
    border: 3px solid #fff;
    border-radius: 50%;
  } */

    50% {
      height: 40px;
      width: 40px;
      border: 8px solid #fff;
      border-radius: 50%;
    }

    100% {
      height: 70px;
      width: 70px;
      border: 20px solid #fff;
      border-radius: 50%;
    }
  }
}
